**/**venv**/
.idea
**/__pycache__/
**.pytest_cache
.DS_Store
.coverage


# Assignment 2
Assignment2/data/*
Assignment2/simulation.log

# Assignment 3

# Project
!data/

# Project Trading System
order_audit**
order_log.csv
.alpaca_api_key
.alpaca_api_secret

# Assignment 10
Assignment10/market_data


# Project Trading System
ProjectTradingSystem/data/streamed_data.csv
ProjectTradingSystem/test.py